{% extends 'base.html.twig' %}

{% block title %}Hello TradingController!
{% endblock %}

{% block body %}
	<h1>Faire un virement</h1>

	{% if form_errors(form) %}
		<div class="alert alert-danger">
			{{ form_errors(form) }}
		</div>
	{% endif %}

	{{ form_start(form) }}
	<table>
		<tr>
			<th>{{ form_label(form.amount) }}</th>
			<td>{{ form_widget(form.amount) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.sourceAccount) }}</th>
			<td>{{ form_widget(form.sourceAccount) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.destinationAccount) }}</th>
			<td>{{ form_widget(form.destinationAccount) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.description) }}</th>
			<td>{{ form_widget(form.description) }}</td>
		</tr>
	</table>
	{{ form_end(form) }}
	<a href="{{ path('account') }}" class="btn btn-primary">Retour à l'accueil</a>
{% endblock %}
