{% extends 'base.html.twig' %}

{% block title %}Hello TradingController!
{% endblock %}

{% block body %}
	<h1>Les transactions</h1>
	{% for trading in tradings %}
		<p>Identifiant du virement :
			{{ trading.id}}</p>
		<p>Date du virement :
			{{ trading.getFormattedCreatedAt() }}</p>
		<p>Montant du virement :
			{{ trading.amount }}
			€</p>
		<p>Compte débité :
			{{ trading.sourceAccount }}</p>
		<p>Compte crédité :
			{{ trading.destinationAccount }}</p>
		<p>Libellé du virement :
			{{ trading.description }}</p>

	{% endfor %}
	<h1>Effectuer une transaction</h1>
	<a href="{{ path('trading_new') }}">Faire un virement</a>
{% endblock %}
