{% extends 'base.html.twig' %}

{% block title %}EDIT ACCOUNT
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>EDIT ACCOUNT</h1>
				{{ form_start(form) }}
				<table>
					<tr>
						<td>{{ form_label(form.accountNumber) }}</td>
						<td>{{ form_widget(form.accountNumber) }}</td>
					</tr>
					<tr>
						<td>{{ form_label(form.balance) }}</td>
						<td>{{ form_widget(form.balance) }}</td>
					</tr>
					<tr>
						<td>{{ form_label(form.owner) }}</td>
						<td>{{ form_widget(form.owner) }}</td>
					</tr>
				</table>
				<div class="btn-container">
					<button type="submit" class="btn btn-update">Save</button>
					{{ form_end(form) }}
					<a href="{{ path('account') }}" class="btn btn-show">Retour à l'accueil</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
