{% extends 'base.html.twig' %}

{% block title %}USER ACCOUNT
{% endblock %}

{% block body %}
	<h1>Bonjour
		{{app.user}}</h1>
	<p>Bienvenue sur la page d'accueil de votre compte utilisateur.</p>
	<a href="{{ path('new_account') }}">Créer un compte</a>
	<a href="{{ path('profil') }}">Accéder à mon profil</a>
	<a href="{{ path('home') }}">Retour à l'accueil</a>
	<a href="{{ path('logout') }}">Déconnexion</a>
	<a href="{{ path('trading') }}">Faire un virement</a>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{% for account in accounts %}
		<table>
			<thead>
				<tr>
					<th>Numéro de compte</th>
					<th>Montant</th>
					<th>Identifiant</th>
					<th>Détails du compte</th>
					<th>Modification du compte</th>
					<th>Suppression</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ account.accountNumber }}</td>
					<td>{{ account.balance }}€</td>
					<td>{{ account.owner }}</td>
					<td>
						<a href="{{ path('show_account', {'id': account.id}) }}">Voir</a>
					</td>
					<td>
						<a href="{{ path('edit_account', {'id': account.id}) }}">Modifier</a>
					</td>
					<td>
						<a href="{{ path('delete_account', {'id': account.id}) }}">Supprimer</a>
					</td>
				</tr>
			</tbody>
		</table>
	{% endfor %}
</ul>{% endblock %}
