{% extends 'base.html.twig' %}

{% block title %}ACCOUNT ID
{% endblock %}

{% block body %}
	<h1>Numéro de compte -
		{{account.accountNumber }}
	</h1>
	<h2>Solde du compte :
		{{ account.balance }}
		€</h2>
	<table class="table">
		<tbody>
			<tr>
				<td>
					<table>
						<thead>
							<tr>
								<th>Numéro de transaction</th>
								<th>Montant</th>
								<th>Description</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody>
							{% for trading in account.tradings %}
								<tr>
									<td>{{ trading.id }}</td>
									<td>{{ trading.amount }}
										€</td>
									<td>{{ trading.description }}</td>
									<td>{{ trading.createdAt|date('d/m/Y H:i:s') }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<a href="{{ path('account') }}" class="btn btn-show">Retour à l'accueil</a>
{% endblock %}
