{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	<div>
		<h1>Mon profil</h1>
		<h2>Les informations de mon profil</h2>
		<table>
			<tbody>
				<tr>
					<th>Prénom</th>
					<td>{{ app.user.firstname }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ app.user.lastname }}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{ app.user.email }}</td>
				</tr>
				<tr>
					<th>Adresse</th>
					<td>{{ app.user.address }}</td>
				</tr>
				<tr>
					<th>Téléphone</th>
					<td>{{ app.user.phone }}</td>
				</tr>
			</tbody>
		</table>
		<h3>Modifier mes informations - Supprimer mon profil</h3>
		<div class="btn-container">
			<a href="{{ path('profil_edit') }}" class="btn btn-update">Modifier mes informations</a>
			{{ include('profil/delete.html.twig') }}
			<a href="{{ path('account') }}" class="btn btn-show">Mes comptes</a>
		</div>
	</div>
{% endblock %}
