{% extends 'base.html.twig' %}

{% block title %}Recharge
{% endblock %}

{% block body %}
	<h1>Recharger
		<a href="{{ path('show_account', {id: account.id}) }}" class="btn btn-primary">Retour</a>

		{{ form_start(form) }}

		{{ form_row(form.amount, {'attr': {'class': 'form-control'}}) }}

		{{ form_row(form.cardNumber, {'attr': {'class': 'form-control'}}) }}

		{{ form_row(form.account, {'attr': {'class': 'form-control', 'value': account.id, 'readonly': true}}) }}

		<div class="form-group">
			<button type="submit" class="btn">Valider</button>
		</div>

		{{ form_end(form) }}
	{% endblock %}
